<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= image_tag(url_for(product.image_url), class: 'card img-fluid h-50', width: '100%') %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

</div>


