

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-lg-10 col-sm-12 mx-auto shadow-lg p-3 hello mb-2 mx-2">
    <% if notice %>
    <aside id="notice"><%= notice %></aside>
    <% end %>
        <h1 class="text-center pb-3 card bg-white text-danger fw-bold">Your Pragmatic Products</h1>
        <%= link_to 'New Product', new_product_path, class: 'btn btn-primary' %>
    <% @products.each do |product| %>
      <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12">
          <%= image_tag(product.image_url, class: 'w-100 h-100 py-2') %>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
          <h2><%= product.title %></h2>
          <p><%= sanitize(product.description) %></p>
          <p><%= product.price %></p>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-12 d-flex flex-column align-items-center justify-content-center">
          <%= link_to 'Show', product, class: 'btn btn-success my-1' %>
          <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-primary my-1' %>
          <%= link_to 'Destroy',
          product,
          method: :delete,
          data: { confirm: 'Are you sure?' }, class: 'btn btn-danger my-1' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>

