


<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-lg-8 col-sm-12 mx-auto shadow-lg p-3 hello mb-2 mx-2">
      <p style="color: green"><%= notice %></p>

      <%= render @line_item %>

      <div>
        <%= link_to "Edit this line item", edit_line_item_path(@line_item) %> |
        <%= link_to "Back to line items", line_items_path %>

        <%= button_to "Destroy this line item", @line_item, method: :delete, class: 'btn btn-danger my-1' %>
      </div>

    </div>
  </div>
</div>
